.header {
  background-color: #909090;
  padding: 1rem 0;

  .logo {
    max-width: 150px;
  }

  nav {
    .nav {
      justify-content: flex-end;

      .nav-link {
        color: white;
        font-size: 1rem;
        margin-left: 1rem;
        text-transform: uppercase;

        &:hover {
          color: #0056b3;
        }
      }
    }
  }
}
